/* offset to take top navbar into account */
#head {color:black;}
#main { margin-top: 0px; }
#separador {margin-top: 50px;}
/* wallpaper hack doesnt make sense in print */
@media print {
  .backstretch img {
    display: none !important
  }
}

html, body {
  color: #222;
}
div, p, span {
    color:#121212;
}
body {
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

.back-fx {
    left: 0px; 
    top: 0px; 
    overflow: hidden; 
    margin: 0px; 
    padding: 0px; 
    min-height: 100%; 
    min-width: 100%; 
    z-index: -999999; 
    position: fixed;
}
.back-img {
    position: absolute; 
    margin: 0px; 
    padding: 0px; 
    border: none; 
    min-width: 100%; 
    min-height: 100%; 
    max-height: none; 
    max-width: none; 
    z-index: -999999; 
    left: 0px; 
    top: -80px;
}


h1, h2, h3, h4, h5, h6  {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color:#121212;
}

pre, code {
  font-family: "Oxygen Mono", monospaced;
  background: rgba(255,255,255,0.5);
  color: #121212;
  border: 1px solid rgba(0,0,0,0.8);
}

.smallprint {
  font-size: 0.8em;
  color: #121212;
}

.captioned-image {
  margin: 20px;
}

@media screen and (min-width: 992px) {
  .captioned-image {
    width: 50%;
    float: right;
  }
}

@media screen and (max-width: 991px) {
  .captioned-image {
    width: 80%;
    margin: 2  
  }
}

#wrap {
  /* the background tint layer */
  background-image: radial-gradient(ellipse at center top, rgba(255,255,255,0.9) 20%, rgba(0,0,0,0) 100%);
  /* for older webkit */
  background: -webkit-radial-gradient(center top, ellipse cover, rgba(255,255,255,0.9) 20%,rgba(0,0,0,0) 100%);
}

/* NAV menu de navegacion */
.navbar {
  font-size: 1.1em; 
  margin: 0px;
}

.navbar-inverse  {
    background-color: rgba(180,180,180,0.4);
    transition: 1s;
    border: 0;
}
.navbar-inverse:hover  {
    background-color: rgba(180,180,180,0.9);
    transition: 1s;
    border: 0;
}


.nav > li > a {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 0;
  color:#121212;
  font-weight: 600;
  font-size: 1.1em;
  text-align: center;
  text-transform: uppercase;
  border-bottom-color: transparent;
}

.nav > li > a:hover, .nav > li.open > a:hover {
  color: #121212;
  border-bottom: 4px solid orange;
  padding-bottom: 12px;
}

.nav ul.dropdown-menu {
  background: rgba(0,0,0,0.8);
}

.nav ul.dropdown-menu a {
  color: #121212;
}

.nav .dropdown-menu > li > a:hover {
  background: orange;
  color: #000;
}

.navbar-header  a.navbar-brand {
  margin: 0;
  padding: 0;
  border: none;
}

a.navbar-brand {
  font-size: inherit;
}

.navbar-inverse .navbar-nav>li>a {
    color:white;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color:#f0f0f0;
}

.jumbotron {
  background: none;
  padding-bottom: 12px;
}
/* NAV fin de menu navegacion */

.jumbotron h1 {
  font-weight: 200;
  color: #333;
  text-shadow: 0px 0px 12px rgba(255,255,255,0.4);
}
.jumbotron p {
  font-weight: 200;
}

/* Set the fixed height of the footer here */
#footer, #footer p {
    color:white;
}
#footer {
  height: 60px;
  background-color: rgba(0,0,0,0.2);
}

.container h1.video {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}

.container  h2.video {
  text-align: center;
}

.container h3.video {
  margin-top: 40px;
  text-align: center;
}

.container iframe {
  margin: 0 auto;
  display: block;
}

.container .credit {
  margin: 20px 0;
}

div.thumbnail {
  background: rgba(255,255,255,1);
  border-radius: 7px;
  border: none;
  padding-top: 24px;
}

ul#markdown-toc {
  width: 30%;
  float: right;
  background: rgba(255,255,255,0.05);
  border-radius: 7px;
  margin: 12px;
  padding-top: 12px;
  padding-bottom: 18px;
}

ul#markdown-toc > li {
  margin-left: 6px;
}

ul#markdown-toc:before {
  content: "Table of Contents";
  font-weight: 300;
  font-size: 1.6em;
  margin-left: -18px;
  margin-bottom: 2px;
  text-decoration: underline;
}

ul.sessions a {
  font-weight: 600;
  color: #aaa;
}
